<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="app/css/main.css">
    <!-- endbuild -->
	
	
	<!--Scripts-->
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<!--CSS-->
	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  
  </head>
  
  <body ng-app="frontpfaApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">

      	<nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Brand</a>
            </div>
          </div>
         </nav>

    </div>
    
    <div class="container" >
		<div class="row" style="margin-top: 25%;margin-bottom:25%;">
		<div class="col-xs-12">
			
			<div class="main">
					
				<div class="row" ng-controller="loginController" >
				<div class="col-xs-12 col-sm-6 col-sm-offset-3">
							
					<!--h1>School Gest</h1-->
					<h2>Sign In NOW !</h2>
							
						<span class="glyphicon glyphicon-user"></span> Username : 
                        <div class="form-group">
						<div class="col-md-8"><input name="username" placeholder="Idenfiant" class="form-control" type="text" ng-model="loginForm.Username" id="UserUsername"a/></div>
						</div> 
						
                        <span class="glyphicon glyphicon-lock"></span> Password : 
						<div class="form-group">
						<div class="col-md-8"><input name="password" placeholder="Mot de passe" class="form-control" type="password" ng-model="loginForm.Password" id="UserPassword"/></div>
						</div> 
						
						<div class="form-group">
						<div class="col-md-offset-0 col-md-8"><button  class="btn btn-success btn btn-success"  ng-click="submit()" value="Connexion">Ok !</button><a class="">Sign Up ?</a> </div>
                        
						</div>
					
                    
				</div>
				</div>
				
			</div>
		</div>
		</div>


    </div>
	
    <div class="footer">
      
      <nav class="navbar navbar-inverse navbar-fixed-bottom">
          <div class="container-fluid" >
            <ul class="nav navbar-nav navbar-right">
                <p class="navbar-text">CopyRights</p>
            </ul>
          </div>
      </nav>
      
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){
				A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
					(A[l].q=A[l].q||[]).push(arguments)},
					A[l].l=+new Date,a=n.createElement(g),
					r=n.getElementsByTagName(g)[0],
					a.src=u,
					r.parentNode.insertBefore(a,r)
				}(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="app/js/app.js"></script>
        <!--<script src="app/js/controllers/main.js"></script>
        <script src="app/js/controllers/about.js"></script>
 	   <!-- <script src="bower_components/angular-route/angular-route.js"></script>-->
        <!-- endbuild -->
</body>
</html>
