
<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Vue Generale
                    </a>
                </li>
                <li>
                    <a href="#">Modules <span style="float:right;" class="badge">4</span> </a> 
                </li>
                <li>
                    <a href="#">Elements de Modules <span style="float:right;" class="badge">4</span> </a> 
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                
                                <!-- Add Element Modal -->
                                <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-sm">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Ajouter un element de module</h4>
                                    </div>
                                    <div class="modal-body">
                                        <label> Nom de l'element de module </label> <input type="text" />
                                        <label> Partager avec : </label> 
                                        <select> <option ng-repeat="prof in profs"> {{prof.nom}}</option> </select>
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="">ajouter</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">annuler</button>
                                    </div>
                                    </div>
                                </div>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="form-group">
                                    <input type="text" class="form-control" ng-model="q" placeholder="Rechercher un module">
                                    </div>
                                </form>
                                <ul class="nav navbar-nav navbar-right">
                                    
                                    <li  ng-show="table" ><a ng-click="delete(index)"><span class="glyphicon glyphicon-trash"></span></a></li>
                                    <li  ng-show="table"><a href="#"><span class="glyphicon glyphicon-pencil"></span> </a></li>
                                                                      
                                    <li class="divider-vertical"></li>        
                                    <li data-toggle="modal" data-target="#myModal" ><a><span class="glyphicon glyphicon-plus"></span></a></li>
                                    <li id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">        
                                        <span class="glyphicon glyphicon-sort"></span> </a>
                                    </li>
                                    
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a >Par nom</a></li>
                                            <li><a >Another action</a></li>
                                            <li><a >Something else here</a></li>
                                  
                                        </ul>
                                   
                                    <li><a ><span class="glyphicon glyphicon-th"></span> </a></li>
                                </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                         </nav>
                        
                        <div class="jumbotron" style="high:100%;">
                                                      
                            <div class="table-responsive">
                                <table class="table table-hover">
                                <thead>
                                    <tr>
                                    <th>#</th>
                                    <th>Nom</th>
                                    <th>Propriétaire</th>
                                    <th>Dernière modification</th>
                                    <th>OkbYe</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr ng-repeat="a in test | filter : q">
                                    <th scope="row"><input type="checkbox" ng-model="m" ng-change="select(m,a.a)" name={{a.a}}></th>
                                    <td>{{index}}{{a.a}}</td>
                                    <td>{{a.b}}</td>
                                    <td>{{a.c}}</td>
                                    <td>{{a.d}}</td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                           
                        </div>
                        
                        <a href="#menu-toggle"  id="menu-toggle"><span id="chevron" class="glyphicon glyphicon-chevron-left"></span></a>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

</div>
</div>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        if(document.getElementById("chevron").className == "glyphicon glyphicon-chevron-right") document.getElementById("chevron").className = "glyphicon glyphicon-chevron-left";
            else document.getElementById("chevron").className = "glyphicon glyphicon-chevron-right";
    });
    </script>
